<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ionic-intune-demo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<string>msauth.$(PRODUCT_BUNDLE_IDENTIFIER)-intunemam</string>
				<string>msauth.com.microsoft.intunemam</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mvisionmobile</string>
		<string>msauthv2</string>
		<string>scmx</string>
		<string>lookoutwork-ase</string>
		<string>msauthv3</string>
		<string>lacoonsecurity</string>
		<string>zips</string>
		<string>skycure</string>
		<string>smart-ns</string>
		<string>smsec</string>
		<string>betteractiveshield</string>
		<string>companyportal</string>
		<string>wandera</string>
		<string>https-intunemam</string>
		<string>http-intunemam</string>
		<string>microsoft-edge-https-intunemam</string>
		<string>microsoft-edge-http-intunemam</string>
		<string>ms-outlook-intunemam</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Access photos</string>
	<key>NSCameraUsageDescription</key>
	<string>Take photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo access</string>
	<key>IntuneMAMSettings</key>
	<dict>
		<key>AutoEnrollOnLaunch</key>
		<true/>
		<key>ADALClientId</key>
		<string>f80e2e59-01b2-4f88-be80-4895a63eae7e</string>
		<key>ADALAuthority</key>
		<string>https://login.microsoftonline.com/453daf0a-cd18-4085-bfd7-fb9431630f11</string>
		<key>ADALRedirectUri</key>
		<string>msauth.io.ionic.intuneDemo2://auth</string>
	</dict>
</dict>
</plist>
